*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("Design_256/Design_256_Images/IMG_20230824_134913_7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}